# virtual environment
.venv/
env/
venv/

# pytest cache
.pytest_cache/
__pycache__/

# IDE
.idea/
.vscode/
.pytest_exit_code
now.txt

# test results and reports
allure-results/
allure-report/
reports/
htmlcov/
coverage.xml

# temporary files and logs
*.log
*.tmp
*.bak
*.swp

# macOS
.DS_Store

# environment files
# keep .env (it’s public and required for local runs)
# if any secrets appear — add it back to ignore
.env.*
!.env

# Python system artifacts
*.pyc
*.pyo
*.pyd

# packages and build files
*.egg
*.egg-info/
dist/
build/
*.whl

# Jupyter / notebooks
.ipynb_checkpoints/

# pip cache
__pypackages__/
pip-wheel-metadata/